<div class="span3">
    <button class="btn btn-large btn-block " type="button">Enlaces</button>
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Internos</li>
            <!--<li class="active"><a href="#">Enlace</a></li>-->
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
            <li class="nav-header">Externos</li>
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
        </ul>
    </div>
    <!--/.well -->

    <!-- login form -->
    <button class="btn btn-large btn-block " type="button">Login</button>
    <form class="form-signin">
        <h4 class="form-signin-Titulo de la noticia">Ingresar al sistema</h4>
        <input type="text" placeholder="Correo electronico" class="input-block-level">
        <input type="password" placeholder="Password" class="input-block-level">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Recordarme
        </label>
        <button type="submit" class="btn btn-medium btn-primary">Ingresar</button>
    </form>

    <!-- Social tabs -->
    <button class="btn btn-large btn-block " type="button">Social</button>
    <ul class="nav nav-tabs">
        <li><a href="#facebook" data-toggle="tab">Facebook</a></li>
        <li><a href="#twitter" data-toggle="tab">Twitter</a></li>
        <li><a href="#rss" data-toggle="tab">RSS feed</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="facebook">facebook profile</div>
        <div class="tab-pane" id="twitter">twitter profile</div>
        <div class="tab-pane" id="rss">contenido rss</div>
    </div>
</div>