<div class="navbar navbar-static" id="navbar-example">
    <div class="navbar-inner">
        <div style="width: auto;" class="container">

            {% block module_home_link %}
            {% endblock %}

            {# list of dropdowns quick access #}
            <ul role="navigation" class="nav">
                {# custom menus by module #}
                {% block dropdown_items %}{% endblock %}
            </ul>

            <ul class="nav pull-right">
                <li id="fat-menu">
                    <form class="align-vertically form-search">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn">Buscar</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>