{% extends '::base.html.twig' %}

{% block body %}
    {# menu bar for visitors #}
    {{ include("menu_bar_visitor.html.twig") }}

    <div class="row-fluid">
        {# sidebar #}
        {{ include("admin_sidebar.html.twig") }}

        <div class="span9">
            <h3>Crear noticia</h3>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {{ form(form) }}
        </div>
    </div>

{% endblock %}

