{% extends '::base.html.twig' %}

{% block body %}
    <h1>Crear noticia</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}


    {{ form(form) }}
{% endblock %}

