<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../media/normalize.css" rel="stylesheet" media="screen">
    <link href="../media/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../media/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="../media/main.css" rel="stylesheet" media="screen">

    <title>Noticias</title>
</head>
<body>

<!-- Main menu fixed for authenticated users -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="brand">Nombre proyecto</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Bienvenido <a class="navbar-link" href="#">Visitante</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Principal</a></li>
                    <li><a href="#about">Acerca de</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="jumbotron">

    <!-- Banner logo -->
    <div class="row-fluid">
        <div class="span12 news-banner">
        </div>
    </div>

    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span5"><img src="../images/uno.jpg"></div>
                    <div class="span5">
                        <h2>Primera noticia</h2>

                        <p class="lead"><i class="icon-calendar"></i> 9 de octubre del 2013</p>

                        <p class="text-left">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                            cursus commodo,
                            tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                            magna mollis euismod. Donec sed odio dui. </p>

                        <p class="text-left">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                            cursus commodo,
                            tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                            magna mollis euismod. Donec sed odio dui. </p>

                    </div>
                    <div class="span1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span5">
                        <h2>Segunda noticia</h2>

                        <p class="lead"><i class="icon-calendar"></i> 9 de febrero del 2013</p>

                        <p class="text-left">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                            cursus commodo,
                            tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                            magna mollis euismod. Donec sed odio dui. </p>

                        <p class="text-left">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                            cursus commodo,
                            tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                            magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="span5"><img src="../images/dos.jpg"></div>
                    <div class="span1"></div>
                </div>
            </div>
            <div class="item">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span5"><img src="../images/tres.jpg"></div>
                    <div class="span5">
                        <h2>Tercera noticia</h2>

                        <p class="lead"><i class="icon-calendar"></i> 9 de noviembre del 2013</p>

                        <p class="text-left">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                            cursus commodo,
                            tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                            magna mollis euismod. Donec sed odio dui. </p>

                        <p class="text-left">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                            cursus commodo,
                            tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                            magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>

<!-- Menu fixed for visitants -->
<div class="navbar navbar-static" id="navbar-example">
    <div class="navbar-inner">
        <div style="width: auto;" class="container">
            <a href="#" class="brand">Portada de noticias</a>
            <ul role="navigation" class="nav">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#" id="drop1">Menu <b
                            class="caret"></b></a>
                    <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="http://google.com" tabindex="-1" role="menuitem">Menu 1</a>
                        </li>
                        <li role="presentation"><a href="#anotherAction" tabindex="-1" role="menuitem">Otro menu</a>
                        </li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Otro menu</a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Menu externo</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop2" href="#">Menu 2
                        <b class="caret"></b></a>
                    <ul aria-labelledby="drop2" role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Menu 2</a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Otro menu</a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Otro menu</a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Menu externo</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li id="fat-menu">
                    <form class="align-vertically form-search">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn">Buscar</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row-fluid">

<div class="span3">
    <button class="btn btn-large btn-block " type="button">Enlaces</button>
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Internos</li>
            <!--<li class="active"><a href="#">Enlace</a></li>-->
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
            <li class="nav-header">Externos</li>
            <li><a href="#">Enlace</a></li>
            <li><a href="#">Enlace</a></li>
        </ul>
    </div>
    <!--/.well -->

    <!-- login form -->
    <button class="btn btn-large btn-block " type="button">Login</button>
    <form class="form-signin">
        <h4 class="form-signin-Titulo de la noticia">Ingresar al sistema</h4>
        <input type="text" placeholder="Correo electronico" class="input-block-level">
        <input type="password" placeholder="Password" class="input-block-level">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Recordarme
        </label>
        <button type="submit" class="btn btn-medium btn-primary">Ingresar</button>
    </form>

    <!-- Social tabs -->
    <button class="btn btn-large btn-block " type="button">Social</button>
    <ul class="nav nav-tabs">
        <li><a href="#facebook" data-toggle="tab">Facebook</a></li>
        <li><a href="#twitter" data-toggle="tab">Twitter</a></li>
        <li><a href="#rss" data-toggle="tab">RSS feed</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="facebook">facebook profile</div>
        <div class="tab-pane" id="twitter">twitter profile</div>
        <div class="tab-pane" id="rss">contenido rss</div>
    </div>
</div>
<!--/span-->
<div class="span9">
    <div class="hero-unit">
        <div class="row">
            <div class="span7">
                <h2>Noticia reciente</h2>

                <p>
                    <i class="icon-calendar"></i>
                    <small>Publicado en 21/12/13</small>
                </p>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut...
                    <a class="btn btn-primary btn-medium" href="#">Ver noticia</a></p>


            </div>
            <div class="span5"><img src="../images/dos.jpg"></div>
        </div>

    </div>

    <div class="row-fluid">
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <div class="row-fluid">
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <div class="row-fluid">
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->


    <div class="row-fluid">
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
        <div class="span6">
            <h3>Titulo de la noticia</h3>

            <p>
                <i class="icon-calendar"></i>
                <small>Publicado en 21/12/13</small>
            </p>

            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui. </p>

            <p><a href="#" class="btn">Leer noticia</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->


    <div class="row-fluid">
        <div class="span12">
            <br/><br/>

            <div class="alert alert-info">
                <button data-dismiss="alert" class="close" type="button">x</button>
                No hay mas noticias...
            </div>
        </div>
    </div>
</div>
<!--/span-->
</div>
<!--/row-->


<hr>

<footer>
    <p>&copy; Bolivia 2013</p>
</footer>

</div>

<script src="../media/jquery-1.10.2.js"></script>
<script src="../media/bootstrap/js/bootstrap.min.js"></script>
<script src="../media/main.js"></script>
</body>
</html>