{% extends '::base.html.twig' %}
{% block body %}
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
            <div id="tabs" class="jqueryui-tabs-centered">
                <ul>
                    <li><a href="#tabs-1">Noticias</a></li>
                    <li><a href="#tabs-2">Sistema georeferencial</a></li>
                    <li><a href="#tabs-3">Biblioteca virtual</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="row-fluid">
                        <div class="span6">
                            <br/><br/>

                            <h1>Noticias</h1>
                            <br/><br/>

                            <p class="text-center">Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam.
                                Integer ut neque.
                                Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh.
                                Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum
                                a velit eu ante scelerisque vulputate.</p>
                            <br/><br/>

                            <p class="text-center">
                                <a href="{{ path('sistema_sig_news_homepage') }}" class="btn btn-large">Ir a portal de
                                    noticias</a>
                            </p>
                        </div>
                        <div class="span6">
                            <p class="text-center"><img src="../images/map.png"></p>
                        </div>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="span6">
                        <br/><br/>

                        <h1>Sistema georeferencial</h1>
                        <br/><br/>

                        <p class="text-center">Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam.
                            Integer ut neque.
                            Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh.
                            Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum
                            a velit eu ante scelerisque vulputate.</p>
                        <br/><br/>

                        <p class="text-center">
                            <a href="#" class="btn btn-large">Ir al sistema georeferencial</a>
                        </p>
                    </div>
                    <div class="span6">
                        <p class="text-center"><img src="../images/plan.png"></p>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="span6">
                        <br/><br/>

                        <h1>Biblioteca virtual</h1>
                        <br/><br/>

                        <p class="text-center">Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam.
                            Integer ut neque.
                            Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh.
                            Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum
                            a velit eu ante scelerisque vulputate.</p>
                        <br/><br/>

                        <p class="text-center">
                            <a href="#" class="btn btn-large">Ir a la biblioteca virtual</a>
                        </p>
                    </div>
                    <div class="span6">
                        <p class="text-center"><img src="../images/map.png"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1"></div>
    </div>

    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">

            <div class="row-fluid">
                <div class="span4 well">
                    <h4>Noticia mas vista</h4>

                    <p class="text-center">
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi
                        metus
                    </p>

                    <p class="text-center"><img src="../images/logo1.png"></p>
                </div>
                <div class="span4 well">
                    <h4>Documento mas descargado</h4>

                    <p class="text-center">
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi
                        metus
                    </p>

                    <p class="text-center"><img src="../images/logo2.png"></p></div>
                <div class="span4 well">
                    <h4>Mauris mauris ante</h4>

                    <p class="text-center">
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi
                        metus
                    </p>

                    <p class="text-center"><img src="../images/logo3.png"></p></div>
            </div>

        </div>
        <div class="span1"></div>
    </div>

    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span10">
            <div class="row-fluid">
                <div class="span6">
                    <h4>Sobre nosotros</h4>

                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi
                        metus</p>
                </div>
                <div class="span6">
                    <h4>Acerca de la aplicación</h4>

                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi
                        metus</p>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <h4>Donde estamos</h4>

                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi
                        metus</p>
                </div>
                <div class="span6">
                    <h4>Contactos</h4>

                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi
                        metus</p>
                </div>
            </div>
        </div>
        <div class="span1"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ include("SistemaSigPortalWebBundle:Default:jscripts.html.twig") }}
{% endblock %}